// Colors
$color-white: #fff;
$color-black: #000;
$color-gray: #eee;
$color-gray-dark: #d2d2d2;
$color-orange: #ff7000;

// Sizes
$desktop: 992px;
$tablet: 767px;
$mobile: 580px;

// Animation
$transition-base: all 0.25s ease-in;